db-data/*
api-annonces/node_modules/
node_modules/
.env
# Expo / npm caches
assurmobile/.npm/
assurmobile/node_modules/
assurmobile/.expo/

# plus général (si tu préfères)
**/.npm/
**/node_modules/
**/.expo/

# Front web build output
assurmoifront/dist/
